body {
	margin: 0;
	max-width: 3950px;
	background-color: #F6F6F6;
}

.tuslokanan a {
	text-decoration: none;
	color: white;
}
.tuslokanan {
	display: block;
	background-color: #287094;
	color: white;
	font-family: 'Khula', sans-serif;
    font-weight: 300;
	letter-spacing: 0.35px;
	border: none;
	padding: 15px;
	position: fixed;
	cursor: pointer;
	bottom: 25px;
	right: 25px;
	width: 160px;
	opacity: 0.999;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	z-index: 9;	
}

.tuslokanan:hover {
	display: block;
	background-color: #023246;
	color: white;
	border: none;
	padding: 15px;
	position: fixed;
	cursor: pointer;
	bottom: 25px;
	right: 25px;
	width: 160px;
	opacity: 0.999;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	z-index: 9;	
}

.tuslokanan a:visited {
	display: block;
	background-color: #023246;
	color: white;
	border: none;
	padding: 15px;
	position: fixed;
	cursor: pointer;
	bottom: 25px;
	right: 25px;
	width: 160px;
	opacity: 0.999;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	z-index: 9;	
}

.tanan {
	width: 100%;
	animation: transitionIn 0.75s;
}

.container {
	width: 100%;
	margin: 0 auto;
	
}

header {
	animation: transitionInheader 0.75s;
}
nav a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

nav a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

nav a:hover {
  color: rgb(199,199,199) ;
  background-color: transparent;
  text-decoration: none;
  
}

header {
	background-color: #297094; 
	width: 100%;
	max-width: 3950px;
	position: fixed;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 9;
}

header::after{
	content:'';
	display: table;
	clear: both;
}

#logo {
	float: left;
	width: 230.4px;
	height: 57.9px;
	padding: 10px;
	padding-left: 40px;
}



nav{
	float: right;
	font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
	font-size: 22px;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	float: right;
	display: inline-block; 
	margin-left:75px;
	padding-top: 25px;
	padding-right: 10px;	
}

section h1 {
	font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
	text-align: center;
	text-decoration: underline overline solid #297994;
	padding: 25px;
	font-size: 50px;
	transition-duration: 1s;
}

section h1:hover {
	transform: scale(1.5,1.5);
}



#p1 {
	font-family: 'Khula', sans-serif;
    font-weight: 400;
	text-align: justified;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	word-spacing: 5px;
	line-height: 28px;
}

#p2 {
	font-family: 'Khula', sans-serif;
    font-weight: 400;
	text-align: justified;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
	word-spacing: 5px;
	line-height: 28px;
}



#img1 {
	max-width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 1s;
}

#img1:hover {
	transform: scale(1.5,1.5);
}

#img2 {
	max-width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 1s;
}

#img2:hover {
	transform: scale(1.5,1.5);
}

#img3 {
  display: block;
  
  max-width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 1s;
}

#img3:hover {
  transform: scale(1.5,1.5);
}

footer {
	background-color: #023246;
}
footer p {
	font-family: 'Khula', sans-serif;
    font-weight: 400;
	text-align:center;
}


@keyframes sqr{
	0%		{transform: rotate(0deg);}
	2%		{transform: rotate(6deg);}
	4%		{transform: rotate(-6deg);}
	6%		{transform: rotate(6deg);}
	8%		{transform: rotate(-6deg);}
	10%		{transform: rotate( 0deg);}
}


@keyframes imahe {
	0%		{transform: scale(1,1);}
	10%		{transform: scale(1.1,1.1);}
	20% 	{transform: scale(1,1);}
}

@keyframes transitionIn {
	from {opacity: 0; transform: rotateX(-10deg);}
	to {opacity: 1; transform: rotateX(0); }
}

@keyframes transitionInheader {
	from {transform: translate(0px, -200px);}
	to {transform: translate(0px, 0px); }
}

@keyframes transitionform {
	from {transform: translate(-99px, 0px);}
	to {transform: translate(0px, 0px); }
}